body {
    background: #cfd1e1;
    font-family: consolas;
}

/* Login form css start */

.login-container {
    height: 86vh;
    overflow: hidden;
}

.login-box {
    height: 65vh;
    width: 27vw;
}

.login-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 100%;
    background: linear-gradient(#fff, #fff, #e3e3e3);
    filter: blur(1px);
    z-index: 1;
}

.login-box::after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 2em;
    height: 100%;
    background: #9f9d9d;
    filter: blur(1px);
    z-index: 1;
}

.login-shadow {
    background: #eee;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(100% + 95px);
        width: 116%;
        height: 240%;
        background: linear-gradient(rgba(0, 0, 0, 0.075)), transparent;
        transform: skewX(45deg);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -200%;
        left: calc(100% + 67px);
        width: 100%;
        height: 200%;
        background: linear-gradient(rgba(0, 0, 0, 0.075)), transparent;
        transform: skewX(45deg);
    }
}

.login-cover {

    position: absolute;
    left: -5em;
    top: 0;
    height: 5em;
    width: 5em;
    background: #cfd1e1;
    z-index: 10;
}

.login-content {
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1), 20px 10px 20px rgba(0, 0, 0, 0.1), 50px 50px 80px rgba(0, 0, 0, 0.25), inset 3px 3px 2px #fff;
}

.login-logo {
    height: 2em;
    width: 2em;
    background: #444;
}

.login-content form {
    width: 65%;
    color: #444;
}

.login-inputbox input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #444;
    outline: none;
    color: #444;
}

.login-inputbox i {
    position: absolute;
    left: 0;
    bottom: 1em;
    font-size: 1.25em;
}

.login-inputbox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 10px 0px 10px 25px;
    font-size: 1.25em;
    transition: 0.5s;
}

.login-inputbox input:focus~span,
.login-inputbox input:valid~span {
    transform: translateY(-1.75em);
    font-size: 0.8em;
    background: #444;
    color: white;
    padding: 2px 4px;
}

.login-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-links a {
    text-decoration: none;
    color: #444;
}

.login-inputbox input[type="submit"] {
    color: white;
    background: #444;

    &:hover {
        background-color: #333;
    }
}

/* Login form css end */

/* Teacher Registration start */

.stureg-outer {
    width: 80%;
}

.stureg-inputbox-right input,
select {
    width: 100%;
}

.stureg-inputbox-right i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #201E50;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
    z-index: -1;
    color: #fff;
}

.stureg-inputbox-right input:focus,
select:focus {
    border: none;
    outline: none;
}

.stureg-inputbox-right input:valid~i,
.stureg-inputbox-right input:focus~i,
.stureg-inputbox-right select:focus~i {
    height: 100%;
}

.stureg-inputbox-right.active i {
    height: 100%;
}

.stureg-inputbox-right input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #201E50 inset !important;
    -webkit-text-fill-color: #fff !important;
    border-radius: 20px;
    -webkit-border-radius: 5px;
}


/* Teacher Registration end */

/* Dashboard css start */

.dashboard-left {
    width: 20vw;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
    transition: 0.5s;
}

.dashboard-left.active {
    width: 5em;
    overflow: scroll;
    scrollbar-width: none;
}

.dashboard-left.active .dash-text,
.dashboard-left.active .dash-logout span {
    display: none;
    transition: 0.5s;
}

.dashboard-left ul li a {
    padding-left: 0.75em;

    &:hover {
        background-color: #444a63a7;
        color: white !important;
    }
}

.dashboard-left ul li span {
    text-wrap: none;
}

.dashboard-right {
    width: 80vw;
    flex-grow: 1;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
    left: 20vw;
    transition: 0.5s;
    background-color: #444a63a7;
}

.dashboard-right.active {
    width: 20vw;
    left: 5em;
}

.dashboard-right #smallbig {
    left: 2em;
    top: 0.3em;
    transition: 0.5s;
    cursor: pointer;
}

.dashboard-right.active #smallbig {
    left: 7.5em;
    top: 0.3em;
    cursor: pointer;
}

.dashboard-right.active .dash-logout {
    position: relative;
    left: 0;
}

.dash-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dash-right-header{
    height: 5em;
    background: #fff;
}

.dash-card{
    height: 16em;
    width: 20em;
    transition: 0.5s;
    &:hover{
        transform: scaleY(1.2) scaleX(1.1);
    }
}

.dash-card .imgbox{
    position: absolute;
    top: 1em;
    height: 10em;
    width: 16em;
    border-radius: 11px;
    background: #000;
    transition: 0.5s;
}

.imgbox i{
    font-size: 5em;
}

.dash-card:hover .imgbox{
    top: -4em;
    transform: scaleY(0.75) scaleX(0.85);
}

.content{
    top: 12.5em;
    height: 1.9em;
    overflow: hidden;
    transition: 0.5s;
    text-align: justify;
}

.dash-card:hover .content{
    top: 5em;
    height: 10.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-home-left{
    width: 65em;
}

.dashboard-right.active .dash-home-right{
    display: none;
    transition: 0.5s;
}

.dash-home-right{
    width: 25em;
    height: 84vh;
    transition: 0.5s;
}

.dash-clock{
    height: 18em;
    width: 18em;
}

.clock-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dash-clock {
    position: relative;
    border-radius: 50%;
    background-color: #06060723;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before{
        content: '';
        position: absolute;
        width: 0.75em;
        height: 0.75em;
        background-color: #2f363e;
        border: 3px solid white;
        border-radius: 50%;
        z-index: 100;
    }
}

.dash-clock span{
    position: absolute;
    inset: 0.1em;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg*var(--i)));
}

.dash-clock span b{
    font-size: 1.5em;
    opacity: 0.75;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i)));

}

.dash-clock .circle{
    position: absolute;
    width: 13em;
    height: 13em;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;

    &::before{
        content: '';
        position: absolute;
        width: 1em;
        height: 1em;
        top: -8.5px;
        border-radius: 50%;
        background: var(--clr);
        box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr);
    }
}

.dash-clock .circle i{
    position: absolute;
    width: 0.35em;
    height: 52%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.dash-clock .circle:nth-child(1) i{
    width: 2px;
}

.dash-clock .circle:nth-child(2) i{
    width: 6px;
}

.dash-clock .circle2{
    
    width: 10em;
    height: 10em;
    z-index: 9;
}

.dash-clock .circle3{
    width: 7em;
    height: 7em;
    z-index: 8;
}

.dash-calendar{
    height: 42vh;
    width: 22em;
    border: 5px double gold;
}



/* Dashboard css end */

.justify-text{
    text-align: center;
}